# --- Dependencies & Build Artifacts ---
node_modules/
/build

# --- Environment Files ---
.env

# --- AWS Configuration ---

# --- Temporary & Archival Files ---
*.zip

# --- OS and Editor Specific Files ---
.DS_Store
Thumbs.db
.vscode/